body {
    background-color: #1E0C06;
}

.main-heading {
    color: #fff;
    font-family: 'Notable', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.primary-bg {
    color: #1E0C06
}