/* Set overall background */
body {
    background-color: #1E0C06;
}

/* Main heading styling */
.main-heading:link, .main-heading:visited, .main-heading:hover, .main-heading:active, .heading {
    color: #fff;
    font-family: 'Notable', sans-serif; 
    text-decoration: none;
    font-size: 2.2rem;
}

/* Main primary background colour */
.primary-bg {
    background-color: #1E0C06;
}

/* Default navigation styling */
.nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:active {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    font-size: 1.2rem;
}

/* Hover navigation styling */
.nav-link:hover, .nav-link:active {
    color: #bdbdbd !important;
}

/* Homepage introduction box styling */
.home-intro-box {
    position: absolute; /* position relative to body */
    right: 0;           /* sticks to the right edge */
    width: 50%;
    height: 75%;
    box-shadow: 0 0 20px rgb(247, 245, 245, 0.2); /* Set the border shadow */
    z-index: 2;
    background-color: #1E0C06;
    margin-top: 50px;
    border-radius: 15px;
    margin-top: 5%;
}

/* Homepage introduction text styling */
.home-intro-text {
    display: block;
    color: #fff;
    font-size: 3.2rem;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

/* Hero section (background image) section styling */
.hero-section {
    background-image: url("images/home-bg-img.png"); /* background image url */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* scale the image untill it covers the entire section */
    position: relative; /* make it the reference for absolute positioning */
    min-height: 100vh;
    z-index: 1;
    box-shadow: 0 0 40px rgb(247, 245, 245, 0.2);
}

/* Home introduction box text(grouped) styling */
.home-intro-grouped-text {
    margin-left: 10%;
    margin-top: 15%;
}

/* section below hero-section (unfinished)*/
.products-section {
    min-height: 100vh;
}

/*footer*/
footer{
    background-color: rgb(41, 41, 41);
    color: #fff;
}

/* text input style */
.email-input{
    /* placeholder */
}

/* button input style */
.email-btn{
    color: white;
    /* placeholder */
}

/* footer header and links styling */
.footer-right h6 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
}

.footer-right a:hover {
  color: #bdbdbd;
}

/*---Mobile Version----*/ 
@media (max-width: 768px) {
    /* HERO SECTION */
    .hero-section {
        justify-content: center;   /* center on small screens */
        padding-right: 0;
        min-height: 70vh;
    }
}