body {
    background-color: #1E0C06;
}

.main-heading {
    color: #fff;
    font-family: 'Notable', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.primary-bg {
    background-color: #1E0C06;
}

.nav-link:link, .nav-link:visited, .nav-link:hover, .nav-link:active {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
}

.nav-link:hover, .nav-link:active {
    color: #bdbdbd !important;
}
