{% extends "base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<section class="product-section">
  <div class="search-wrapper mt-4">
    <div class="search-container">
      <span class="icon">🔍</span>
      <input type="text" placeholder="Search..." class="search-input">
    </div>
    <button class="search-button">Search</button>
  </div>
</section>

<!-- WIP -->
<section class="product-section">
  
</section>

<!--WIP-->
<section class="product-section">
  
</section>

{% endblock %}
